body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(15, 221, 25);
  color: white;
}
h1 {
  font-style: italic;
  color: rgb(248, 244, 244);
  margin: 15px;
  padding: 5px;
  filter: drop-shadow(10px 5px 10px rgb(216, 136, 30));
}
h1:hover {
  cursor: pointer;
  color: rgb(24, 22, 23);
}
input {
  margin-top: 30px;
  padding: 5px;
  width: 80%;
}
ul {
  margin-top: 30px;
  margin-left: 25%;
  padding: 5px;
}

li {
  padding: 5px;
  cursor: pointer;
  display: inline;
}
li:hover {
  color: rgb(19, 17, 17);
}
.container-fluid1 {
  padding: 0px;
  margin: 0px;
  display: flex;
  img {
    width: 500px;
    height: 600px;
    margin-left: 0px;
    border: 0.1px solid;
    border-radius: 15px;
    border-color: rgb(113, 235, 194);
    margin: 20px;
  }
  h5 {
    background-color: rgb(223, 34, 9);
    color: white;
    padding: 8px;
    display: inline;
  }
  h2 {
    padding-top: 5px;
  }
}
.col-lg-7 {
  margin-top: 15px;
}
.foot {
  background-color: rgb(15, 221, 25);
  color: black;
  padding: 10px;
  text-align: center;
}
